# Builds
*.gen.*
.godot/
.build/
.bin/
dist/
.conan/
.vcpkg/
discord-sdk/
vital.sdk/


# Binaries
*.o
*.os
*.so
*.obj
*.bc
*.pyc
*.dblite
*.pdb
*.lib
*.config
*.creator
*.creator.user
*.files
*.includes
*.idb
*.exp
*.log


# IDE
.vs/
.vscode/