# Builds
*.gen.*
.build/
.bin/
.conan/
.vcpkg/
**/discord-sdk/bin/
**vital.sdk/


# Binaries
*.o
*.os
*.so
*.obj
*.bc
*.pyc
*.dblite
*.pdb
*.lib
*.config
*.creator
*.creator.user
*.files
*.includes
*.idb
*.exp


# IDE
.vs/*
.vscode/*
*.log