[submodule "Vendor/lua"]
	path = Vendor/lua
	url = https://github.com/lua/lua
[submodule "Vendor/lua-rapidjson"]
	path = Vendor/lua-rapidjson
	url = https://github.com/xpol/lua-rapidjson
[submodule "Vendor/openssl"]
	path = Vendor/openssl
	url = https://github.com/openssl/openssl
