[submodule "Vendors/lua"]
	path = Vendors/lua
	url = https://github.com/lua/lua
[submodule "Vendors/lua-rapidjson"]
	path = Vendors/lua-rapidjson
	url = https://github.com/xpol/lua-rapidjson
[submodule "Vendors/openssl"]
	path = Vendors/openssl
	url = https://github.com/openssl/openssl
