# Builds
*.gen.*
.build/
.bin/
.conan/
.vcpkg/
.cef/
.*_temp/

# Binaries
*.o
*.os
*.so
*.obj
*.bc
*.pyc
*.dblite
*.pdb
*.lib
*.config
*.creator
*.creator.user
*.files
*.includes
*.idb
*.exp

# IDE
.vs/*
.vscode/*
*.log